.main-contianer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.main-heading {
  font-family: 'Courier New';
  font-size: 25px;
  color: black;
  text-align: center;
  font-weight: bold;
  font-style: oblique;
}
.repository-list-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
.repository-data-list-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
